<div class="ui left vertical inverted visible sidebar menu">

	<a class="item">
		<span><i class="home icon"></i> Home</span>
	</a>
	<a class="item">
		<span><i class="folder open icon"></i> Documentation</span>
	</a>
	<a class="item">
		<span><i class="database icon"></i> Schemas</span> <i class="caret right icon"></i>
	</a>
	<div class="divider"></div>
	<% @cache[:tables].each do |schema, rows| %>
	<div class="item">
		<span><i class="database icon"></i> <%= schema %></span> <i class="caret right icon"></i>
		<div class="menu">
			<% rows.each do |schema_name, table_name| %>
			<a class="item" href="#"><span><i class="table icon"></i> <%= table_name %></span></a>
			<% end %>
		</div>
	</div>
	<% end %>
</div>
