<div class="ui left vertical inverted visible sidebar menu">

	<a class="item">
		<span><i class="home icon"></i> Home</span>
	</a>
	<a class="item">
		<span><i class="folder open icon"></i> Documentation</span>
	</a>
	<a class="item">
		<span><i class="database icon"></i> Schemas</span> <i class="caret right icon"></i>
	</a>

	<a class="item" href="#">Link Item <i class="dropdown icon"></i></a>
	<a class="item" href="#">Link Item</a>
	<div class="divider"></div>
		<div class="item">
			<i class="dropdown icon"></i>
			Sub Menu
			<div class="menu">
				<a class="item" href="#"><span><i class="table icon"></i> Link Item</span></a>
				<a class="item" href="#"><span><i class="table icon"></i> Link Item</span></a>
			</div>
		</div>
		<a class="item" href="#">Link Item</a>
	</div>
</div>
