<div class="ui left vertical inverted visible sidebar menu">

	<a class="item">
		<span><i class="home icon"></i> Home</span>
	</a>
	<a class="item">
		<span><i class="folder icon"></i> Documentation</span>
	</a>
	<% @cache[:tables].each do |schema, rows| %>
		<div class="js-schema item">
			<span>
				<i class="database icon"></i> <%= schema %></span>
				<i class="caret right icon"></i>
				<i class="caret down icon transition hidden"></i>
				<div class="menu transition hidden">
					<% rows.each do |schema_name, table_name| %>
						<a class="item" href="#"><span><i class="table icon"></i> <%= table_name %></span></a>
					<% end %>
				</div>
		</div>
	<% end %>
</div>
