<h1 class="ui header">
	Database Documentation
</h1>

<p>
	Welcome to <code>PG::Doc</code>!
</p>

<p>
	This tool automatically generates documentation for PostgreSQL databases.
</p>

<p>
	You can learn more about this tool at
	<a href="https://github.com/kenaniah/pg-doc" target="_blank">https://github.com/kenaniah/pg-doc</a>.
</p>
